<!-- 5. Contact / Enquiry Management Page
o Allows users to submit enquiries via a contact form
o Stores enquiries in the database
o Enables administrators to view and manage user enquiries -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiries & Contact</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/footer') %>
</body>
</html>