<!-- 5. Contact / Enquiry Management Page
o Allows users to submit enquiries via a contact form
o Stores enquiries in the database
o Enables administrators to view and manage user enquiries -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiries & Contact</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/event.css">
</head>
<body>
      <!-- Navbar -->
  <nav>
    <a href="/" class="logo">TICKETSTREAM</a>
    <ul class="nav-links">
      <li><a href="/booking">Dashboard</a></li>
      <li><a href="/">Events</a></li>
      <li><a href="/contact">Support</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Event Management ▾</a>
        <ul class="dropdown-menu">
          <li><a href="venues">Manage Venues</a></li>
          <li><a href="events">Manage Events</a></li>
          <li><a href="times">Manage Times</a></li>
        </ul>
      </li>
      <li><a href="/login" class="btn-login">Login</a></li>
    </ul>
  </nav>
</body>
</html>